.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn-color {
  background: #4a154b !important;
  color: white;
  font-weight: bold;
}

.btn-color:hover {
  background: #611f69 !important;
  color: white;
  font-weight: bold;
}

.occupy-window {
  height: 100vh;
}

.logo-size {
  height: 50px;
  width: 80px;
}

.navbar-area {
  height: 5vh;
  width: 100vw;
}

.content-area {
  height: 95vh;
  width: 100vw;
}

.slack-bg-color {
  background-color: #4a154b;
}
.round-border {
  border: solid #000 1px;
  border-radius: 10px;
}
